html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

  width: 100vw;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  padding: 0;
  padding: 0;

  color: inherit;
}

a {
  text-decoration: underline;
}

a[target="_blank"]::after {
  content: " ↗";
}

@media (max-width: 992px) {
  a[target="_blank"]::after {
    content: "↗";
  }
}

/* inverted custom cursor */
@media screen and (min-width: 992px) {
  * {
    cursor: none;
    /* margin: 0;
    padding: 0; */
  }
}
